@charset"utf-8";

/* CSS Document 
COLORS
    h1 #F7931E;
    nav #38add6
    border #B2DDFB
*/
 body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Myriad Pro", sans-serif;
}
p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: "Myriad Pro", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    text-decoration: none;
    font-weight: normal;
    font-size: 32pt;
    color: #F7931E;
}

h2 {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    color: #F7931E;
    text-align:center;
}

a:link {
    color: #FFF;
    text-decoration: none;
}


ul {
    padding: 0;
    margin: 0;
    border: 0;
}

footer {
    height: 50px;
    background-color: #B2DDFB;
}

#header {
    text-decoration: none;
    font-weight: normal;
    font-size: 32pt;
    font-family: "Myriad Pro", sans-serif;
    height: 85px;
    line-height: 85px;
    color: #F7931E;
    margin: 0;
    border: 0;
    max-width: none;
    display: block;
    visibility: visible;
    position:relative;
}

#header h1 {
    text-align:"center;"
}

#outerNav {
    height: 30px;
    line-height: 30px;
    background-color: #3FA9F5; /*#89C9F7*/
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 750px;
    width:100%;
    z-index: 3;
    /*border-bottom: 1px solid;
    border-color: white;*/.
}

#navigation ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigation li {
	list-style: none;
	list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
   /* border-right: 1px solid;
    border-color: #3FA9F5;*/
    
}

#navigation a {
    font-family: "Myriad Pro",sans-serif;
    text-decoration: none;
    font-size: 12pt;
    color: white;
    display: block;
    padding: 0 10px 0 10px;
    line-height: 30px;
    border: 0;
    margin: 0;
}

#navigation a:hover {
   background-color: #F7931E;
}

table {
    border-collapse:collapse;
    border: 0;
    background-color:#D1EAFD; /*#f1f1f1;*/
    width: 750px;
    text-align: left;
    color: #1D1D1D;
}

tr { 
    border-bottom: 1px solid;
    border-color: white;
    height: 51px;
    max-height:51px;
    padding: 0;
    margin: 0;
    
}

th {
    font-weight: bold;
    height: 20px;
}

td {
    padding: 0;
    margin: 0;
    border: none;  
}



.outerBody {
    width: 750px;
    position: relative;
    /*background-color: #B2DDFB;*/
    border: 0;
    top: 0;
    left: 250px;
    min-height: 600px;
}

.assignment {
float:left;
}

.clear {
    clear:both;
    margin: 0;
    padding: 0;
    border: 0;
}

#titlepic {
    width: 350px;
    //height: 90px;
    margin: 70px auto 0px auto;
    display: block;
}

#leftNav {
    width: 240px;
    height: 100%;
    background-color: #3FA9F5;
    position: absolute;
    left: 0;
    top: 0;
}

#navContent {
    width: 240px;
    margin: 0;
}


#pSelected a:hover {
   background-color: white;
}

#pSelected a {
    color: #F7931E;
    background-color: white;
}


#vehicles {
    background: url(images/KL-Icons.png) 0px 0px no-repeat;
}
#electronics {
    background: url(images/KL-Icons.png) 0px -51px no-repeat;
}
#appliances {
    background: url(images/KL-Icons.png) 0px -102px no-repeat;
}
#furniture {
    background: url(images/KL-Icons.png) 0px -153px no-repeat;
}
#cAndA {
    background: url(images/KL-Icons.png) -60px 0px no-repeat;
}
#general {
    background: url(images/KL-Icons.png) -60px -51px no-repeat;
}
#housing {
    background: url(images/KL-Icons.png) -60px -102px no-repeat;
}


.categories li {
    height: 51px;
    line-height: 51px;
    color: white;
    margin: 10px 0;
    list-style-type: none;
}

.categories a {
    width: 239px;
    height: 51px;
    display: block;
}

#navContent ul {

}

.leftNavPic {
    width:60px;
    height:51px;
    float: left;
    margin-right: 10px;
}

#leftPicDiv {
    float: left;
}

#navContent a:hover {
    background-color: #8CCBF9;
}

.mainPics {
    height: 51px;
    width: 60px;
    background-position:center;
}
        
#picOne {
    background-image:url(../images/garageOne.jpg);
    }
    
    #picTwo {
    background-image:url(images/phVehicles_07.png) no-repeat; 
    
    }
    
    #picThree {
    background-image:url(../images/garageThree.jpg);
    }
    
    #picFour {
    background-image:url(../images/garageFour.jpg);
    }
    
    #picFive {
    background-image:url(../images/garageFive.jpg);
    }
    
    #picSix {
    background-image:url(../images/garageSix.jpg);
    }


.stubList {
    width: 100%;
    height: 100%;
    display: block;
    color: black;
}

#biggerBox {
    position: relative;
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
}

.leftNavTitle {
    font-size: 12pt;
    color: white;
    text-align:center;
    margin: 3px 0;
}

#search {
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;

    width: 183px;
    height: 33px;
    font-size: 10pt;
    border: none;
    border-radius: 0;
    margin: 5px 0 0 4px;
    padding: 2px;
    padding-left: 7px;
}

#searchButton {
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
    
    height: 35px;
    width: 36px;
    font-size: 10pt;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 0px;
    
    background: url(images/KL-Icons.png) -13px -214px no-repeat;
}

.whiteIcon {
    width: 60px;
    height: 51px;
    display: block;
    background: url(images/KL-Icons.png) -62px -208px no-repeat;
    margin: 54px auto 0 auto;
}

#bottomTitle {
    text-align: right;
    position: relative;
    right: 0;
    bottom: 0;
    opacity: .5;
}

.tableImage {
    height: 51px;
    width: 60px;
    margin: 0;
    border: none;
    padding: 0;
    display: block;
    
}

#col1 {
    background-color: #DAEEFD;
}

.categories {
    margin-top: 15px;
}

#fNothing {
    margin-top: 10px;
    width: 300px;
}

.floatRight {

    float: right;
}

.floatLeft {
    float:left;
}


